* {

}
.park {
    opacity: .6;
    z-index: -1;
}
.container {
    z-index: 1;
    display: flex;
}
p {
    z-index: 1;
    color: black;
    top: 75;
}
.history {
    background-color: khaki;
    opacity: .6;
    font-size: 25px;
}
.map {
    height: 50%;
    width: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: khaki;
    z-index: 1;
}
.map-background {
    background-color: khaki;
    opacity: .6;
}
h1 {
    color: maroon;
    font-size: 60px;
    position: absolute;
    top: 50%;
    text-align: center;
    left: 10%;
    text-decoration: green;
}
span {
    display: inline-block;
    font-weight: bolder;
    animation: mover 6s linear infinite;
}
@keyframes mover {
    0% {
        text-shadow: 0 0 30px; rgba(0,0,0,0);
    }
    50% {
        text-shadow: 0 0 30px; rgba(0,0,0,.30);
        transform: translateY(30px);
    }
    100% {
        text-shadow: 0 0 30px; rgba(0,0,0,0);
    }
}
span:nth-last-child(1)
{
    animation-delay: .5s;
}
span:nth-last-child(2)
{
    animation-delay: 1s;
}
span:nth-last-child(3)
{
    animation-delay: 2s;
}

span:nth-last-child(4)
{
    animation-delay: 3s;
}
span:nth-last-child(5)
{
    animation-delay: 4s;
}
span:nth-last-child(6)
{
    animation-delay: 5s;
}
span:nth-last-child(7)
{
    animation-delay: 6s;
}
span:nth-last-child(8)
{
    animation-delay: .5s;
}
span:nth-last-child(9)
{
    animation-delay: 1s;
}
span:nth-last-child(10)
{
    animation-delay: 2s;
}
span:nth-last-child(11)
{
    animation-delay: 3s;
}
span:nth-last-child(12)
{
    animation-delay: 4s;
}
span:nth-last-child(13)
{
    animation-delay: 12s;
}
span:nth-last-child(14)
{
    animation-delay: 5s;
}
span:nth-last-child(15)
{
    animation-delay: 6s;
}
span:nth-last-child(16)
{
    animation-delay: .5s;
}
span:nth-last-child(17)
{
    animation-delay: 1s;
}
span:nth-last-child(18)
{
    animation-delay: 2s;
}
span:nth-last-child(19)
{
    animation-delay: 3s;
}
span:nth-last-child(20)
{
    animation-delay: 4s;
}
span:nth-last-child(21)
{
    animation-delay: 5s;
}
footer {
    justify-content: space-evenly;
    background-color: khaki;
}